:root {
    --text-clr: #797a7c;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: "Poppins", sans-serif;
}

body {
    background: rgb(254, 254, 254);
    color: var(--text-clr);
    font-size: 15px;
    padding: 20px 40px 20px 40px;
    text-align: center;

}

main {
    text-align: center;
}

.page-head,
.page-description {
    text-align: center;
}

.page-head {
    font-size: 40px;
    margin: 20px 0 0;
    font-weight: 600;
}

.page-description {
    font-size: 22px;
    margin: 5px 0 40px;
    font-weight: 200;
}

#first-section {
    text-align: center;
    width: 35%;
    margin: auto;
}

#second-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

#second-section .horizontal,
#second-section .vertical {
    border-radius: 10px 10px 0 0;
    align-items: center;
}

#getallaccounts {
    border-top: 5px solid hsl(180, 62%, 55%);
}

#transfer {
    border-top: 5px solid hsl(0, 78%, 62%);
}

#getbyid {
    border-top: 5px solid hsl(34, 97%, 64%);
}

#import {
    border-top: 5px solid hsl(212, 86%, 64%);
}

#second-section .horizontal {
    text-align: center;
    background-color: white;
    width: 300px;
    height: 210px;
    padding: 20px 20px 0 20px;
    margin: 10px 15px 0 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#second-section .vertical {
    text-align: center;
    align-items: center;
    background-color: white;
    width: 400px;
    height: 300px;
    padding: 10px 60px 0 50px;
    margin: 30px 15px 0 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media screen and (max-width: 981px) {
    #second-section {
        flex-direction: column;
    }

    #vertical-container {
        width: 100%;
    }

    #second-second .vertical,
    #second-second .horizontal {
        width: 70%;
        padding: 20px 20px 0 20px !important;
        margin: 20px auto;
        margin-bottom: 20px;
    }

    #first-section {
        width: 70%;
        line-height: 25px;
    }
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    background-color: #f9f9f9;
}

h1 {
    color: #333;
}

.success {
    color: green;
    font-weight: bold;
}

.error {
    color: red;
    font-weight: bold;
}

input[type=text],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit], input[type=file] {
    width: 90%;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

/* div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
} */

table {
    width: 100%;
    border-collapse: collapse;
}
table, th, td {
    border: 1px solid black;
}
th, td {
    padding: 8px;
    text-align: left;
}