{% extends 'main.html' %}
{% block body%}
<main>


    <div id="first-section">
        <h1 class="page-head"> {{ page_head }}</h1>

        <p class="page-description">{{ page_description }}</p>

    </div>

    <!-- div for all four squares -->
    <div id="second-section">

        <!-- first square div -->
        <div id="getallaccounts" class="horizontal">
            <h3>Show all Accounts</h3>
            <br>
            <p>you can view all the accounts stored in the database</p>
            <form action="/accounts" method="get">
                <div class="input-group-append">
                    <input type="submit" name="id" value="Search">
                </div>
            </form>
        </div>

        <div id='vertical-container'>
            <!-- vertical div -->
            <!-- second square div -->
            <div id="transfer" class='vertical'>
                <h3>Transfer A Fund</h3>
                <br>
                <p>you can transfer fund from here</p>

                <form action="/transfer" method="post">
                    <div class="input-group mb-3">
                        <input type="text" name="credited_account_id" class="form-control" placeholder="Enter the Sender account ID">
                        <input type="text" name="debited_account_id" class "form-control" placeholder="Enter the Receiver account ID">
                        <input type="text" name="amount" class="form-control" placeholder="Enter Amount to be Transferred">
                        <div class="input-group-append">
                            <input type="submit" value="Send">
                        </div>
                    </div>
                </form>
                
            </div>

            <!-- third square div -->
            <div id="getbyid" class='vertical'>
                <h3>Import Users</h3>
                <br>
                <p>Import accounts data from a CSV or an XLSX file here </p>
                <br>
                <form action="/accounts/import" method="post" enctype="multipart/form-data">
                    <label for="file">Select a CSV or Excel file:</label>
                    <input type="file" name="file" id="file" accept=".csv, .xlsx, .xlsm, .xlsb, .odf, .ods, .odt"
                        required>
                    <br>
                    <input type="submit" value="Upload">
                </form>
            </div>
        </div> <!-- end of vertical div -->

        <!-- forth square div -->
        <div id="import" class='horizontal'>
            <h3>Search an account by ID</h3>
            <br>
            <p>You can get an account data by Id From here</p>
            <form action="/account" method="get">
                <div class="input-group mb-3">
                    <input type="text" id="accountIdField" name="id" class="form-control" placeholder="Enter the account ID">
                    <div class="input-group-append">
                        <input type="submit" value="Search">
                    </div>
                </div>
            </form>
                </div>
            </form>
        </div>

    </div> <!-- End of second section -->

</main>

{% endblock %}





